@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Inter:wght@300;400;500&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Principal";
  src: local("Inter");
}

@font-face {
  font-family: 'COM4DL';
  src: url('/fonts/COM4DL__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-background: #fffbf7;
  --color-background-2: #ffeadd;
  --color-primary: #dd4b24;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}