@import "tailwindcss";

@font-face {
  font-family: "Principal";
  src: url("/assets/fonts/COM4DL__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-background: #fffbf7;
  --color-primary: #dd4b24;
  /*--color-accent: #22c55e;
  --color-text: #1f2937;
  --color-bg: #ffffff; */
}